<%
# encoding: UTF-8  
require 'htmlentities'
require 'unicode'
$KCODE = 'UTF-8'
coder = HTMLEntities.new
%>
<% content_for :head do  -%>
  <%= stylesheet_link_tag 'payment' -%>
  <%= javascript_tag do -%>
    jQuery(document).ready(function()
    {
      console.log("<%= @order %>")
    });
  <% end -%>
<% end -%>

<div class="external_gateway redirect_notice">
  <%= image_tag 'proceed.png', :size => '48x48' -%>
  <%= i18n.translate('external_gateway.checkout.redirect_notice') %>
</div>

